.expense-item {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  padding: 0.5rem;
  margin: 8px;
  border: 1px solid black;
  background-color: wheat;
}
